<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_app_url</key>
	<string>https://www.thunderbird.net/en-US/download/</string>
	<key>pfm_description</key>
	<string>Configure Settings for Mozilla's Thunderbird</string>
	<key>pfm_documentation_url</key>
	<string>https://github.com/thunderbird/policy-templates</string>
	<key>pfm_domain</key>
	<string>org.mozilla.thunderbird</string>
	<key>pfm_format_version</key>
	<real>1</real>
	<key>pfm_last_modified</key>
	<date>2025-01-10T08:00:00Z</date>
	<key>pfm_platforms</key>
	<array>
		<string>macOS</string>
	</array>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_default</key>
			<string>Configures Thunderbird configuration preferences</string>
			<key>pfm_description</key>
			<string>The human-readable description of this payload. This description appears on the Detail screen.</string>
			<key>pfm_description_reference</key>
			<string>Optional. A human-readable description of this payload. This description is shown on the Detail screen.</string>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>org.mozilla.thunderbird</string>
			<key>pfm_description</key>
			<string>The human-readable name for the profile payload. The name appears on the Detail screen and doesn't need to be unique.</string>
			<key>pfm_description_reference</key>
			<string>A human-readable name for the profile payload. This name is displayed on the Detail screen. It does not have to be unique.</string>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>org.mozilla.thunderbird</string>
			<key>pfm_description</key>
			<string>The reverse-DNS-style identifier for the payload. This identifier is usually the same as the TopLevel value, with an additional appended component. This string must be unique within the profile.
During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_description_reference</key>
			<string>A reverse-DNS-style identifier for the specific payload. It is usually the same identifier as the root-level PayloadIdentifier value with an additional component appended.</string>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<string>org.mozilla.thunderbird</string>
			<key>pfm_description</key>
			<string>The payload type, which each payload domain's reference page specifies.</string>
			<key>pfm_description_reference</key>
			<string>The payload type.</string>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The globally unique identifier for the payload. The actual content is unimportant, but must be globally unique. In macOS, use 'uuidgen' to generate UUIDs.
During a profile replacement, the system updates payloads with the same 'PayloadIdentifier' and 'PayloadUUID' in the old and new profiles.</string>
			<key>pfm_description_reference</key>
			<string>A globally unique identifier for the payload. The actual content is unimportant, but it must be globally unique. In macOS, you can use uuidgen to generate reasonable UUIDs.</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_description</key>
			<string>The version of this specific payload.</string>
			<key>pfm_description_reference</key>
			<string>The version number of the individual payload.
A profile can consist of payloads with different version numbers. For example, changes to the VPN software in iOS might introduce a new payload version to support additional features, but Mail payload versions would not necessarily change in the same release.</string>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_range_list</key>
			<array>
				<integer>1</integer>
			</array>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_type</key>
			<string>integer</string>
		</dict>
		<dict>
			<key>pfm_description</key>
			<string>The human-readable string containing the name of the organization that provides the profile. This value doesn't need to match the organization payload value in the enclosing dictionary.</string>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_default</key>
			<true/>
			<key>pfm_description</key>
			<string>Enable policy support on macOS.</string>
			<key>pfm_description_reference</key>
			<string>macOS defaults takes precedence over JSON policies (an alternative method to manage Thunderbird preferences). This preference must be set to true in macOS defaults in order to manage Thunderbird preferences through macOS defaults (configuration profile, plist, etc.). Once this value is set to true, JSON policies set through a policies.json config file are disabled even if no other policies are set in macOS defaults (this configuration profile).</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/blob/3c5216f2056d99db195c45438a8177ab2cc98877/templates/esr68/mac/README.md</string>
			<key>pfm_name</key>
			<string>EnterprisePoliciesEnabled</string>
			<key>pfm_note</key>
			<string>macOS defaults takes precedence over JSON policies (an alternative method to manage Thunderbird preferences). This preference must be set to true in macOS defaults in order to manage Thunderbird preferences through macOS defaults (configuration profile, plist, etc.). Once this value is set to true, JSON policies set through a policies.json config file are disabled even if no other policies are set in macOS defaults (this configuration profile).</string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_title</key>
			<string>Enable Enterprise Policies</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>75.0</string>
			<key>pfm_description</key>
			<string>Enable or disable automatic application update.</string>
			<key>pfm_description_reference</key>
			<string>Enable or disable automatic application update.
If set to true, application updates are installed without user approval.
If set to false, application updates are downloaded but the user can choose when to install the update.
If you have disabled updates via DisableAppUpdate, this policy has no effect.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#appautoupdate</string>
			<key>pfm_name</key>
			<string>AppAutoUpdate</string>
			<key>pfm_range_list_titles</key>
			<array>
				<string>Check for updates, user chooses when to install</string>
				<string>Auto install updates</string>
			</array>
			<key>pfm_title</key>
			<string>Thunderbird Auto Update</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>104.0</string>
			<key>pfm_description</key>
			<string>Prevent Thunderbird from being updated beyond the specified version.
You can specify the version as xx. and Thunderbird will be updated with all minor versions, but will not be updated beyond the major version.
You can also specify the version as xx.xx and Thunderbird will be updated with all patch versions, but will not be updated beyond the minor version.
You should specify a version that exists or is guaranteed to exist. If you specify a version that doesn't end up existing, Thunderbird will update beyond that version.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#appupdatepin</string>
			<key>pfm_name</key>
			<string>AppUpdatePin</string>
			<key>pfm_title</key>
			<string>Pin App Version</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>104.0</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>68</string>
			<key>pfm_description</key>
			<string>Change the URL for application update if you are providing Thunderbird updates from a custom update server.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#appupdateurl</string>
			<key>pfm_name</key>
			<string>AppUpdateURL</string>
			<key>pfm_title</key>
			<string>App Update URL</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_value_placeholder</key>
			<string>https://yoursite.com</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>91.0</string>
			<key>pfm_description</key>
			<string>Enable or disable automatic application update in the background, when the application is not running.
If set to true, application updates may be installed (without user approval) in the background, even when the application is not running. The operating system might still require approval.
If set to false, the application will not try to install updates when the application is not running.
If you have disabled updates via DisableAppUpdate or disabled automatic updates via AppAutoUpdate, this policy has no effect.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#backgroundappupdate</string>
			<key>pfm_name</key>
			<string>BackgroundAppUpdate</string>
			<key>pfm_title</key>
			<string>Background App Update</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>68.0</string>
			<key>pfm_description</key>
			<string>Block access to the Add-ons Manager (about:addons).</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#blockaboutaddons</string>
			<key>pfm_name</key>
			<string>BlockAboutAddons</string>
			<key>pfm_title</key>
			<string>Block about:addons</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>68.0</string>
			<key>pfm_description</key>
			<string>Block access to about:config.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#blockaboutconfig</string>
			<key>pfm_name</key>
			<string>BlockAboutConfig</string>
			<key>pfm_title</key>
			<string>Block about:config</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>68.0</string>
			<key>pfm_description</key>
			<string>Block access to About Profiles (about:profiles).</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#blockaboutprofiles</string>
			<key>pfm_name</key>
			<string>BlockAboutProfiles</string>
			<key>pfm_title</key>
			<string>Block about:profiles</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>68.0</string>
			<key>pfm_description</key>
			<string>Block access to About Profiles (about:profiles).</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#blockaboutsupport</string>
			<key>pfm_name</key>
			<string>BlockAboutSupport</string>
			<key>pfm_title</key>
			<string>Block about:profiles</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>78.0</string>
			<key>pfm_description</key>
			<string>Enable or disable the detection of captive portals.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#captiveportal</string>
			<key>pfm_name</key>
			<string>CaptivePortal</string>
			<key>pfm_title</key>
			<string>Enable Captive Portal</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>78.0</string>
			<key>pfm_description</key>
			<string>Set the default download directory.
You can use ${home} for the native home directory.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#defaultdownloaddirectory</string>
			<key>pfm_name</key>
			<string>DefaultDownloadDirectory</string>
			<key>pfm_title</key>
			<string>Default Download Directory</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>68.0</string>
			<key>pfm_description</key>
			<string>Turn off application updates within Thunderbird.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#disableappupdate</string>
			<key>pfm_name</key>
			<string>DisableAppUpdate</string>
			<key>pfm_title</key>
			<string>Disable App Update</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>91.0</string>
			<key>pfm_description</key>
			<string>Disable the built in PDF viewer. PDF files are downloaded and sent externally.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#disablebuiltinpdfviewer</string>
			<key>pfm_name</key>
			<string>DisableBuiltinPDFViewer</string>
			<key>pfm_title</key>
			<string>Disable Built In PDF Viewer</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>68.0</string>
			<key>pfm_description</key>
			<string></string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#disabledevelopertools</string>
			<key>pfm_name</key>
			<string>DisableDeveloperTools</string>
			<key>pfm_title</key>
			<string>Disable Developer Tools</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>68.0</string>
			<key>pfm_description</key>
			<string>Remove the master password functionality.
If this value is true, it works the same as setting PrimaryPassword to false and removes the primary password functionality.
If both DisableMasterPasswordCreation and PrimaryPassword are used, DisableMasterPasswordCreation takes precedent.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#disablemasterpasswordcreation</string>
			<key>pfm_name</key>
			<string>DisableMasterPasswordCreation</string>
			<key>pfm_title</key>
			<string>Disable Master Password Creation</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>78.0</string>
			<key>pfm_description</key>
			<string>Do not allow passwords to be shown in saved logins</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#disablepasswordreveal</string>
			<key>pfm_name</key>
			<string>DisablePasswordReveal</string>
			<key>pfm_title</key>
			<string>Disable Password Reveal</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>78.0</string>
			<key>pfm_description</key>
			<string>Disable safe mode within the browser.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#disablesafemode</string>
			<key>pfm_name</key>
			<string>DisableSafeMode</string>
			<key>pfm_title</key>
			<string>Disable Safe Mode</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>77.0</string>
			<key>pfm_description</key>
			<string>Prevent system add-ons from being installed or update.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#disablesystemaddonupdate</string>
			<key>pfm_name</key>
			<string>DisableSystemAddonUpdate</string>
			<key>pfm_title</key>
			<string>Disable System Addon Updates</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>78.0</string>
			<key>pfm_description</key>
			<string>Prevent the upload of telemetry data.
As of Thunderbird 83 and Thunderbird ESR 78.5, local storage of telemetry data is disabled as well.
Mozilla recommends that you do not disable telemetry. Information collected through telemetry helps us build a better product for businesses like yours.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#disabletelemetry</string>
			<key>pfm_name</key>
			<string>DisableTelemetry</string>
			<key>pfm_title</key>
			<string>Disable Telemetry</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>78.0</string>
			<key>pfm_description</key>
			<string>Set and lock the download directory.
You can use ${home} for the native home directory.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#downloaddirectory</string>
			<key>pfm_name</key>
			<string>DownloadDirectory</string>
			<key>pfm_title</key>
			<string>Download Directory</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>68.0</string>
			<key>pfm_description</key>
			<string>Control extension updates.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#extensionupdate</string>
			<key>pfm_name</key>
			<string>ExtensionUpdate</string>
			<key>pfm_title</key>
			<string>Extension Update</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>78.0</string>
			<key>pfm_description</key>
			<string>Control hardware acceleration.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#hardwareacceleration</string>
			<key>pfm_name</key>
			<string>HardwareAcceleration</string>
			<key>pfm_title</key>
			<string>Hardware Acceleration</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>68.0</string>
			<key>pfm_description</key>
			<string>Configure the default extension install policy as well as origins for extension installs are allowed.</string>
			<key>pfm_description_reference</key>
			<string>This preference sets domains that can install extensions as well as the default behavior. If default behavior value is set to false, add-ons cannot be installed by the user.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#installaddonspermission</string>
			<key>pfm_name</key>
			<string>InstallAddonsPermission</string>
			<key>pfm_note</key>
			<string>This policy does not override turning off all extension installs.</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_description</key>
					<string>If this preference is enabled, add-ons are always allowed for the domains indicated unless add-on install is disabled. If a top level domain is specified (http://example.org), add-ons are allowed for all subdomains as well.</string>
					<key>pfm_description_reference</key>
					<string>Optional. If this preference is enabled, add-ons are always allowed for the domains indicated unless add-on install is disabled. If a top level domain is specified (http://example.org), add-ons are allowed for all subdomains as well.</string>
					<key>pfm_name</key>
					<string>Allow</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_name</key>
							<string>Allowed Domains</string>
							<key>pfm_type</key>
							<string>string</string>
							<key>pfm_value_placeholder</key>
							<string>https://www.example.com</string>
						</dict>
					</array>
					<key>pfm_title</key>
					<string>Allowed Domains</string>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
				<dict>
					<key>pfm_default</key>
					<false/>
					<key>pfm_description</key>
					<string>If this is set to false, add-ons cannot be installed by the user.</string>
					<key>pfm_description_reference</key>
					<string>Optional. If this is set to false, add-ons cannot be installed by the user.</string>
					<key>pfm_name</key>
					<string>Default</string>
					<key>pfm_title</key>
					<string>Allow Extension Installs by Default</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Install Add-ons Permissions</string>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>91.0</string>
			<key>pfm_description</key>
			<string>Switch to manual updates only.
If this policy is enabled:
    1. The user will never be prompted to install updates.
    2. Thunderbird will not check for updates in the background, though it will check automatically when an update UI is displayed (such as the one in the About dialog). This check will be used to show "Update to version X" in the UI, but will not automatically download the update or prompt the user to update in any other way.
    3. The update UI will work as expected, unlike when using DisableAppUpdate.
This policy is primarily intended for advanced end users, not for enterprises.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#manualappupdateonly</string>
			<key>pfm_name</key>
			<string>ManualAppUpdateOnly</string>
			<key>pfm_title</key>
			<string>Manual App Update Only</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>91.0</string>
			<key>pfm_description</key>
			<string>Enable or disable network prediction (DNS prefetching).</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#networkprediction</string>
			<key>pfm_name</key>
			<string>NetworkPrediction</string>
			<key>pfm_title</key>
			<string>Network Prediction</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>91.0</string>
			<key>pfm_description</key>
			<string>Control whether or not Thunderbird offers to save passwords.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#offertosavelogins</string>
			<key>pfm_name</key>
			<string>OfferToSaveLogins</string>
			<key>pfm_title</key>
			<string>Offer To Save Logins</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>91.0</string>
			<key>pfm_description</key>
			<string>Sets the default value of signon.rememberSignons without locking it.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#offertosaveloginsdefault</string>
			<key>pfm_name</key>
			<string>OfferToSaveLoginsDefault</string>
			<key>pfm_title</key>
			<string>Offer To Save Logins Default</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>78.0</string>
			<key>pfm_description</key>
			<string>Remove access to the password manager via preferences and blocks about:logins.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#passwordmanagerenabled</string>
			<key>pfm_name</key>
			<string>PasswordManagerEnabled</string>
			<key>pfm_title</key>
			<string>Password Manager Enabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>91.0</string>
			<key>pfm_description</key>
			<string>Require or prevent using a primary (formerly master) password.
If this value is true, a primary password is required. If this value is false, it works the same as if DisableMasterPasswordCreation was true and removes the primary password functionality.
If both DisableMasterPasswordCreation and PrimaryPassword are used, DisableMasterPasswordCreation takes precedent</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#primarypassword</string>
			<key>pfm_name</key>
			<string>PrimaryPassword</string>
			<key>pfm_title</key>
			<string>Primary Password</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>78.0</string>
			<key>pfm_description</key>
			<string>Ask where to save each file before downloading.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#promptfordownloadlocation</string>
			<key>pfm_name</key>
			<string>PromptForDownloadLocation</string>
			<key>pfm_title</key>
			<string>Prompt For Download Location</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>68.0</string>
			<key>pfm_description</key>
			<string>Set the list of requested locales for the application in order of preference. It will cause the corresponding language pack to become active.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#requestedlocales</string>
			<key>pfm_name</key>
			<string>RequestedLocales</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
			</array>
			<key>pfm_title</key>
			<string>Requested Locales</string>
			<key>pfm_type</key>
			<string>array</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>68.0</string>
			<key>pfm_description</key>
			<string>Set and lock the maximum version of TLS.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#sslversionmax</string>
			<key>pfm_name</key>
			<string>SSLVersionMax</string>
			<key>pfm_range_list</key>
			<array>
				<string>tls1</string>
				<string>tls1.1</string>
				<string>tls1.2</string>
				<string>tls1.3</string>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>TLS 1</string>
				<string>TLS 1.1</string>
				<string>TLS 1.2</string>
				<string>TLS 1.3</string>
			</array>
			<key>pfm_title</key>
			<string>Maximum SSL Version</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_app_min</key>
			<string>68.0</string>
			<key>pfm_description</key>
			<string>Set and lock the minimum version of TLS.</string>
			<key>pfm_documentation_url</key>
			<string>https://github.com/thunderbird/policy-templates/tree/master/templates/central#sslversionmin</string>
			<key>pfm_name</key>
			<string>SSLVersionMin</string>
			<key>pfm_range_list</key>
			<array>
				<string>tls1</string>
				<string>tls1.1</string>
				<string>tls1.2</string>
				<string>tls1.3</string>
			</array>
			<key>pfm_range_list_titles</key>
			<array>
				<string>TLS 1</string>
				<string>TLS 1.1</string>
				<string>TLS 1.2</string>
				<string>TLS 1.3</string>
			</array>
			<key>pfm_title</key>
			<string>Minimum SSL Version</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>Authentication</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>SPNEGO</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>Delegated</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>NTLM</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>AllowNonFQDN</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_name</key>
							<string>SPNEGO</string>
							<key>pfm_type</key>
							<string>boolean</string>
						</dict>
						<dict>
							<key>pfm_name</key>
							<string>NTLM</string>
							<key>pfm_type</key>
							<string>boolean</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>AllowProxies</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_name</key>
							<string>SPNEGO</string>
							<key>pfm_type</key>
							<string>boolean</string>
						</dict>
						<dict>
							<key>pfm_name</key>
							<string>NTLM</string>
							<key>pfm_type</key>
							<string>boolean</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>PrivateBrowsing</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>Locked</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>Certificates</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>ImportEnterpriseRoots</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>Install</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>Cookies</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>Allow</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>Block</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>Locked</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>DNSOverHTTPS</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>Enabled</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>ProviderURL</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>Locked</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>ExcludedDomains</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>DisabledCiphers</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>TLS_DHE_RSA_WITH_AES_128_CBC_SHA</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>TLS_DHE_RSA_WITH_AES_256_CBC_SHA</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>TLS_RSA_WITH_AES_128_CBC_SHA</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>TLS_RSA_WITH_AES_256_CBC_SHA</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>TLS_RSA_WITH_3DES_EDE_CBC_SHA</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>TLS_RSA_WITH_AES_128_GCM_SHA256</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>TLS_RSA_WITH_AES_256_GCM_SHA384</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>DisableSecurityBypass</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>InvalidCertificate</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>SafeBrowsing</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>Extensions</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>Install</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>Uninstall</string>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>Locked</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>array</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>ExtensionSettings</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>*</string>
					<key>pfm_subkeys</key>
					<array>
						<dict>
							<key>pfm_name</key>
							<string>blocked_install_message</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>pfm_name</key>
							<string>install_sources</string>
							<key>pfm_subkeys</key>
							<array>
								<dict>
									<key>pfm_type</key>
									<string>string</string>
								</dict>
							</array>
							<key>pfm_type</key>
							<string>array</string>
						</dict>
						<dict>
							<key>pfm_name</key>
							<string>installation_mode</string>
							<key>pfm_type</key>
							<string>string</string>
						</dict>
					</array>
					<key>pfm_type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PDFjs</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>Enabled</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>EnablePermissions</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>Proxy</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>Mode</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>HTTPProxy</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>UseHTTPProxyForAllProtocols</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>SSLProxy</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>FTPProxy</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>SOCKSProxy</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>Passthrough</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>AutoConfigURL</string>
					<key>pfm_type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>AutoLogin</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>UseProxyForDNS</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>pfm_name</key>
					<string>Locked</string>
					<key>pfm_type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>pfm_type</key>
			<string>dictionary</string>
		</dict>
	</array>
	<key>pfm_targets</key>
	<array>
		<string>system</string>
		<string>user</string>
	</array>
	<key>pfm_title</key>
	<string>Thunderbird</string>
	<key>pfm_unique</key>
	<false/>
	<key>pfm_version</key>
	<integer>1</integer>
</dict>
</plist>
